issuer: http://127.0.0.1:5556/dex
storage:
  type: sqlite3
  config:
    file: /tmp/dex.db
web:
  http: 0.0.0.0:5556
staticClients:
- id: example-app
  redirectURIs:
  - 'http://127.0.0.1:5555/callback'
  name: 'Example App'
  secret: ZXhhbXBsZS1hcHAtc2VjcmV0
enablePasswordDB: true
staticPasswords:
- email: "admin@example.com"
  # bcrypt hash of the string "password"
  hash: "$2b$12$oiCRuOjcZB5gUv9ueD.ZU.j2Jx1nY1jB5nP.x8ptSpN8KEHjDmoby"
  username: "admin"
  userID: "08a8684b-db88-4b73-90a9-3cd1661f5466"
